:root {
    --background-color: darkBlue;
    --text-color: white;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

aside img {
    width: 200px;
}

p {
    padding: 0;
}

footer {
    margin-top: 3rem;
    border-top: 3rem;
    text-align: center;
}